Package: ishell
Version: 0.0.1
Maintainer: example <example@example.com>
Depends: libc6, libncurses-dev, libreadline-dev, libcurl4-openssl-dev
Architecture: amd64
Homepage: http://example.com
Description: ishell client app.
